<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="registr" action="/register" method="post">
    <p>Firstname</p>
    <input title="Fisrtname" type="text" name="firstName">
    <p>Lastname</p>
    <input title="Lastname" type="text" name="lastName">
    <p>Age</p>
    <input title="Age" type="text" name="age">
    <p>Phone</p>
    <input title="phone" type="text" name="phone">
    <input type="submit" value="OK">

</form>

</body>
</html>